{% extends 'events/base.html' %}
{% block content %}
    <div class="container">

    <div class="row justify-content-center">
        {% if submitted == False %}
            <form method="post" class="col-6">
                {% csrf_token %}
                <h1 class="py-3">Add Venue</h1>
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Add venue</button>
            </form>
        {% else %}
            <div class="alert alert-success" role="alert">
                Your venue is saved!
            </div>
        {% endif %}

    </div>

{% endblock content %}
