{% extends 'events/base.html' %}

{% block content %}
    <a href="{% url 'event_add' %}" class="btn btn-secondary btn-sm p-2">Create new Event</a>

    <h2 class="pt-3">All Events</h2>

    {% for event in event_list %}
        <div class="card col-lg-5 mb-1">
            <h6 class="card-header">{{ event }}</h6>
            <div class="card-body p-2">
                <h6 class="card-title">{{ event.venue }}</h6>
                <ul class="mb-0">
                    <li>Date: {{ event.event_date }}</li>
                    <li>Time: {{ event.event_time }}</li>
                    <li>Coordinator: {{ event.manager }}</li>
                </ul>
                Attendees persons:
                <ul>
                    {% for i in event.attendees.all %}
                        <li>{{ i }}</li>
                    {% endfor %}
                </ul>
                {{ i }}
                <a href="{% url 'event_upd' event.id %}" class="btn btn-outline-secondary">Change event</a>
                <a href="{% url 'event_del' event.id %}" class="btn btn-outline-secondary">Delete event</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}